<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/resetPassword" method="POST">
        <label>Email</label> <br>
        <input type="text" name="email" placeholder="Enter Your Email" autocomplete="off">
        <br>
        <label>Old Password</label> <br>
        <input type="password" name="oldPassword" placeholder="Enter Your Old Password" autocomplete="off">
        <br>
        <label>New Password</label> <br>
        <input type="password" name="newPassword" placeholder="Enter Your New Password" autocomplete="off">
        <br>
        <label>Confirm Password</label> <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Your New Password" autocomplete="off">
        <br>
        <input type="submit" class="sub">
    </form>
    
</body>
</html>